/* Alternative?
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
}

.left {
  left: 0;
  padding: 12px 8px;
  background-color: #1e2222;
}

.right {
  right: 0;
  background-color: #1e2222;
}

.centered {
  position: absolute;
  text-align: center;
}
*/

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 12px;
}

/* Possibly do
div{
  margin: auto;
  margin-top: 60%;
  margin-bottom: 40%;
}
*/

body {
  color: #FEFEFE;
  font-family: 'Muli', sans-serif;
  font-weight: 200px;
  margin: 10px;
  min-width: 100px;
}

hr {
  background-color: #f4d03f;
  color: #FFD700;
  align-items: center;
  width: 60%;
}

h1 {
  color: #f4d03f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h2 {
  color: #FEFEFE;
  font-family: 'Muli', Sans-serif;
  font-weight: lighter;
}

h3 {
  color: #FEFEFE;
  font-family: 'Muli', Sans-serif;
  font-weight: 200;
}

/* maybe change
  .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.right{
  background-color: #FDFEFE;
}
*/

/* .column {
  float: left;
  width: 50%;
}

.row:after {
  content:"";
  display: flex;
  clear: both;
}
*/

.button {
  background-color: #1e2222;
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  color: #FFD700;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width:100%;
}

.button:hover {
  background-color: #FFD700;
  color: #1e2222;
  text-decoration: underline;
}

.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

.callout-header {
  padding: 25px 15px;
  background: #85C1E9;
  font-size: 30px;
  color: #FDFEFE;
}

.callout-container {
  padding: 15px;
  background-color: #AED6F1;
  color: #FFFFFF;
}

.span {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #F7DC6F;
  font-size: 30px;
  cursor: pointer;
  border: none;
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #F7DC6F;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: #FDFEFE;
}

textarea {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 5px;
  max-height: 50vh;
  min-height: 5px;
  max-height: 35vh;
  width: 100%;
}

.addBtn {
  border-radius: 30px;
  background: ##AED6F1;
  color: #FDFEFE;
}

.addBtn:hover {
  background: #FDFEFE;
  color: #AED6F1;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-header {
  padding: 10px 25px;
  background-color: #FEFEFE;
  color: #F7DC6F;
}

.modal-content {
  background-color: #D6EAF8;
  margin: auto;
  padding: 10px;
  border: 3px;
  height: 100%;
  width: 60%;
  color: #FDFEFE;
  animation-name:modalopen;
  animation-duration:0.5s;
}

.close {
  color: white;
  float: right;
  font-size: 20px;
  font-weight: normal;
}

.close:hover,
.close:focus {
  color: #F7DC6F;
  cursor: pointer;
}

.modal-body {
  padding: 2px;
}

@keyframes modalOpen{
  from{opacity: 0}
  to{opacity: 0.5}
}

ul {
  margin: 2px;
  padding: 0px;
  list-style-type: upper-alpha;
  background-color: #D6EAF8;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 10px 10px 12px 12px;
  font-size: 20px;
  background-color: #85CLE9;
  color: white;
}

ul li.checked {
  background: #E5E7E9;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #F7DC6F;
  transform: rotate(45);
  height: 15px;
  width: 10px;
}

input {
  border-radius: 30px;
  margin: auto;
}

ul li:hover {
  background: #85CLE9;
}

img {
  display: block;
  max-width: 100%;
  max-height: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.close: {
  background-color: #F7DC6F;
  color: #E5E7E9;
}

.header::after {
  display: table;
  clear: both;
}

/* padding: 3px; maybe */

.addbtn {
  width: 30%;
  float: left;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  border-radius: 30px;
  background: #AEB6BF;
}

.addBtn:hover {
  background-color: #F7DC6F;
}

.content: {
  overflow: hidden;
  background-color: #eaf2f8;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 13px 6px;
  box-sizing: border-box;
  border: 2px gray;
}

.input {
  width: 60%;
  height: 80%;
}

/* Possibly add 
input[type=text]{

} */

.input[type=text]:focus {
  border: 3px solid #D3D3D3;
}
